<?xml version='1.0' encoding='utf-8'?>
<plugin id="@regulaforensics/face-sdk" version="8.2.825-nightly" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>FaceSDK</name>
  <description>Cordova plugin for Regula Face SDK</description>
  <license>commercial</license>
  <keywords>cordova,face,reader,scanner,regula</keywords>

  <js-module name="FaceSDKPlugin" src="www/cordova.js">
    <clobbers target="FaceSDKPlugin" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="FaceSDK">
        <param name="ios-package" value="CDVFaceSDK" />
      </feature>
      <preference name="deployment-target" value="13.0" />
      <preference name="SwiftVersion" value="5" />
    </config-file>
    <source-file src="ios/CDVFaceSDK.swift" />
    <source-file src="ios/Main.swift" />
    <source-file src="ios/Decoder.swift" />
    <source-file src="ios/Config.swift" />
    <source-file src="ios/Utils.swift" />
    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git" />
      </config>
      <pods>
        <pod name="FaceSDKNightly" spec="8.2.3768" />
      </pods>
    </podspec>
  </platform>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="FaceSDK">
        <param name="android-package" value="com.regula.plugin.facesdk.CDVFaceSDK" />
      </feature>
    </config-file>
    <framework src="android/cordova.gradle" custom="true" type="gradleReference" />
    <source-file src="android/CDVFaceSDK.kt" target-dir="java/com.regula.plugin.facesdk" />
    <source-file src="android/src/main/java/com/regula/plugin/facesdk/Main.kt" target-dir="java/com.regula.plugin.facesdk" />
    <source-file src="android/src/main/java/com/regula/plugin/facesdk/JSONConstructor.kt" target-dir="java/com.regula.plugin.facesdk" />
    <source-file src="android/src/main/java/com/regula/plugin/facesdk/Config.kt" target-dir="java/com.regula.plugin.facesdk" />
    <source-file src="android/src/main/java/com/regula/plugin/facesdk/Utils.kt" target-dir="java/com.regula.plugin.facesdk" />
  </platform>
</plugin>