<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.regula.example.face.ionic" ios-CFBundleIdentifier="com.regula.example.face.ionic" version="1.0.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Face</name>
    <icon src="images/icon.png" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
        <preference name="AndroidEdgeToEdge" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="14.0" />
        <preference name="orientation" value="portrait" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>To use camera</string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>To pick images</string>
        </config-file>
    </platform>
</widget>
