html,
body {
    width: 99%;
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    padding-top: 80px;
    margin-top: -10px;
    background-color: rgba(0, 0, 0, 0.03);
}

.title {
    font-weight: 600;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.075);
    margin-top: 13px;
}

.no-scroll {
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.button {
    width: 175px;
    height: 40px;
    margin: 5px;
    margin-top: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button:active {
    position: relative;
    top: 1px;
}